body {
    background-color: rgb(164, 213, 246);
}

#home-screen{
    background-color: rgb(227, 231, 231);
    width: 600px;
    height: 250px;
    margin: 80px auto;
    box-shadow: 0px 3px 4px rgba(52, 53, 53, 0.932);
    padding-top: 40px;
    padding-bottom: 60px;
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-family: 'Cooper';
    color:rgb(4, 54, 37);
}

#startPage{
    background-color:rgb(4, 54, 37);
    color: white;
    display: block;
    margin: 30px auto;
    height: 60px;
    width: 220px;
    font-size: 20px;
    font-family: 'Cooper';
}

#home-screen p{
    text-align: center;
    color: rgb(4, 54, 37);
    font-size: 20px;
    font-family: 'Cooper';
}

#game-screen{
    background-color: white;
    width: 1100px;
    height: 400px;
    margin: 70px auto;
    box-shadow: 0px 3px 4px rgba(52, 53, 53, 0.932);
    padding-top: 10px;
    padding-bottom: 60px;

}

#game-screen p{
    text-align: center;
    color: rgb(4, 54, 37);
    font-size: 40px;
    font-family: 'Cooper';
}

#game-screen p2{
    position: absolute;
    right: 600px;
    top: 235px;
    color: rgb(4, 54, 37);
    font-size: 40px;
    font-family: 'Cooper';
}

#game-screen p3{
    position: absolute;
    left: 350px;
    top: 400px;
    color: rgb(4, 54, 37);
    font-size: 40px;
    font-family: 'Cooper';
}

#guess1{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 500px;
    left: 300px;
}

#guess2{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 500px;
    left: 400px;
}

#guess3{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 500px;
    left: 500px;
}

#search{
    background-color:rgb(4, 54, 37);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Cooper';
    position: absolute;
    top: 400px;
    right: 280px;
}

#guess-input{
    position: absolute;
    right: 400px;
    top: 400px;
    height: 40px;
    width: 350px;
    font-size: 20px;
}

#slider{
    width: 350px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 470px;
    right: 400px;
}

#fill{
    width: 350px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 470px;
    right: 400px;
}

#slider-knob{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 465px;
    right: 745px;
}

#play-button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  border: 2px solid black;
  top: 490px;
  right: 550px;
  cursor: pointer;
}

#play-button::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid black;
}


