<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Guessing Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <div id="container">
        <h1 id="main-title">Song Guessing Game</h1>
        <div id="home-screen" class="white-box">
            <p>Choose an artist. <br> Guess the song. <br> Rank against other players!</p>
            <button class="button" onclick="showSetupScreen()">Start Playing</button>
            <button class="button" onclick="showLeaderboardScreen()">View Scores</button>
        </div>

    <div id="setup-screen" style="display: none" class="white-box">
        <div class="form-setup-screen">
            <h2>Choose an artist!</h2>
            <input type="text" id="username" placeholder="Enter your name">
            <input type="text" id="artist" placeholder="Enter artist name">
            <button class="button" onclick="startGame()">Start Game</button>
        </div>
    </div>
      
    <div id="game-screen" style="display: none;">
        <div id="top-row">
            <p id="time-left">Time Left:</p>
            <p id="countdown">30</p>
        </div>
        <div id="middle-row">
            <input type="text" id="guess-input" placeholder="Guess the Song Title.">
            <button id="search" onclick="submitGuess()">Guess</button>
        </div>
        <div id="controls">
            <audio id="audio-preview" controls></audio>
        </div>
        <div id="bottom-row">
            <p id="guesses">Guesses</p>
            <div id="guess1"></div>
            <div id="guess2"></div>
            <div id="guess3"></div>
            <p id="score">Score:</p>
            <p id="real-score">0</p>
        </div>
    </div>

    <div id="result-screen" style="display: none;" class="white-box">
        <img id="album-cover" src="" alt="Album Cover" class="album-cover">

        <p><strong>Track:</strong> <span id="correct-answer"></span></p>
        <p><strong>You guessed:</strong> <span id="user-guess"></span></p>
        <p><strong>Artist:</strong> <span id="artist-name"></span></p>
        <p><strong>Album:</strong> <span id="album-name"></span></p>

        <div id="next-round-countdown" style="display: none;">
            <span id="countdown-number">Next round in in 5 ...</span>
        </div>
    </div>

    <div id="gameover-screen" style="display: none;" class="white-box">
        <p id="game-over">Game Over!</p>
        <p id="final-score-message">Final Score: You scored <span id="final-score">0</span> out of 50!</p>
        <button id="try-again" onclick="showSetupScreen()">Try Again</button>
        <button id="home-button" onclick="showHomeScreen()">Home</button>
    </div>
    <div id="leaderboard-screen" style="display: none;" class="white-box">
        <div class="leaderboard">
            <h1 id="leaderboard-title">Leaderboard</h1>
            <div id="leaderboard"></div>
            <button id="back-button" onclick="showHomeScreen()">Back</button>
        </div>
    </div>
    <script src="/static/game.js"></script>
    </div>
</body>
</html>
